@import "../base/base.css";

.home-container {
  font-size: 16px;
  color: var(--blackAlpha70);
  padding-bottom: 15px;

  .cover-pic {
    width: 100%;
    display: block;
    max-width: 550px;
    margin: 0 auto 15px;
  }

  .content {
    padding: 0 12px;
    max-width: var(--contentWidth);
    margin: 0 auto;
  }
}
