/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
.main-header {
  border-bottom: 1px solid #dfdfdf;
  margin: 36px 0 0 0;
  padding-left: 15px;
  padding-bottom: 15px;
}
.main-header .main-title {
  display: inline-block;
  line-height: 100%;
  font-weight: 500;
  font-size: 50px;
  margin: 0;
  letter-spacing: -1px;
  color: #333333;
  text-align: center;
  width: 100%;
  display: block;
}
.main-header .main-header-nav {
  text-align: center;
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 400px;
  margin: 22px auto 0;
}
.main-header .main-header-nav li {
  vertical-align: middle;
}
.main-header .nav-item {
  display: block;
  color: #333333;
  color: rgba(51, 51, 51, 0.5);
  text-transform: uppercase;
  font-size: 11px;
  vertical-align: middle;
}
.main-header .nav-item.active {
  color: #333333;
  color: rgba(51, 51, 51, 0.9);
}
.main-header .nav-item-more {
  margin: 0 8px 0 0;
  height: 20px;
  width: 24px;
}
.main-header .main-description {
  text-align: center;
  color: #aaa;
  width: 100%;
  display: block;
}
@media screen and (min-width: 370px) {
  .main-header .nav-item {
    font-size: 13px;
  }
}
@media screen and (min-width: 560px) {
  .main-header {
    border-bottom: 0;
  }
}

/* Base */
html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
  color: #666;
  line-height: 1;

  font-family: "myriad-pro","Helvetica Neue","Helvetica","Arial",sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

li {
  list-style-type: none;
  display: inline-block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hidden, .hide {
  display: none;
}

/* Spacing */
.post h1, h3, h4, h5, p, .post-body ul, #post-list li, pre {
  margin-bottom: 20px;
}

/* Responsive Grid */
.grid-sm-col {
  /*width: 24%;*/
}

/* Typography */
/*Accent color*/
a,
#title,
#post-list a:hover,
#post-list li:hover .dates,
#title:hover {
  text-decoration: none;
  color: #5badf0;
  color: #5694f1;
}

p a {
  color: #5694f1;
}

/*Transitions*/
a,
#post-nav a,
#post-list a {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: circle;
  list-style-position: inside;
}

/* Line Height */
p {
  line-height: 2;
}

b, strong {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

h3, h4, h5 {
  color: #333;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

h5 {
  font-size: 15px;
  font-weight: bold;
}

h6 {
  font-size: 13px;
  font-weight: bold;
  color: #666;
  margin-bottom: 6px;
}

p.small {
  color: #bbb;
  font-size: 14px;
  line-height: 1.5;
  display: block;
}

blockquote {
  padding-left: 15px;
  border-left: 3px solid #eee;
}

hr {
  display: block;
  border: none;
  height: 3px;
  margin: 40px auto;
  background: #f4f4f4;
}

table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 1.5em;
}

th, td {
  text-align: left;
  padding-right: 20px;
  vertical-align: top;
}

table td, td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0;
}

tr > td {
  border-top: 1px solid #eaeaea;
}

tr:nth-child(odd) > td {
  background: #fcfcfc;
}

thead th, th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #444;
  border-bottom: 1px solid #dadadc;
  cursor: default;
  white-space: nowrap;
}

img {
  border-radius: 3px;
}

pre, code {
  font-family: Monaco, monospace;
  font-size: 12px;
  background-color: #f1f1f1;
  display: block;
  padding: 12px;
  border-radius: 3px;
  overflow-x: auto;
  line-height: 20px;
}

.main-container {
    max-width: 800px;
    margin: auto;
}

footer {
  color: #aaa;
  margin-top: 250px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.base-icon {
    fill: #6c6b6b;
}

.base-icon path {
  vertical-align: middle;
}

.wf-loading {
  visibility: hidden;
}
.home-container {
  font-size: 16px;
  color: #333333;
  color: rgba(51, 51, 51, 0.7);
  padding-bottom: 15px;
}
.home-container .cover-pic {
  width: 100%;
  display: block;
  max-width: 550px;
  margin: 0 auto 15px;
}
.home-container .content {
  padding: 0 12px;
  max-width: 576px;
  margin: 0 auto;
}
@media screen and (min-width: 370px) {}

/*# sourceMappingURL=main.css.map*/