{% extends "base/base.html" %}
{% block title %}{{ super() }}Projects{% endblock %}
{% block content %}
  {% macro project_card(repo) -%}
    <div class="item">
      <div class="item-body">
        <a href="{{repo.html_url}}" class="item-name">
          {{repo.name}}
        </a>
        <div class="item-description">
          {{repo.description}}
        </div>
      </div>
      <div class="item-footer">
        {% if repo.homepage %}
          <a class="item-action-button" href="{{repo.homepage}}">
            Go to App
          </a>
        {% endif %}
        <a class="item-action-button" href="{{repo.html_url}}">
          Source code
        </a>
      </div>
    </div>
  {%- endmacro %}

  <div class="{{ name }}-container">
    <div class="category">
      <h1 class="title">Popular Repositories</h1>
      {% for repo in popular_list %}
        {{ project_card(repo) }}
      {% endfor %}
    </div>

    <div class="category">
      <h1 class="title">Recent Repositories</h1>
      {% for repo in recent_list %}
        {{ project_card(repo) }}
      {% endfor %}
    </div>
  </div>
{% endblock %}
