{% extends "common/base.html" %}
{% block title %}{{ super() }}Projects{% endblock %}
{% block content %}
  {% macro project_card(repo) -%}
    <div class="item">
      <a class="item-body" href="{{repo.html_url}}">
        <div class="item-star-count">
            {{repo.stargazers_count}}
            <span class="star-icon">&#9733;</span>
        </div>
        <div class="item-name">
          {{repo.name}}
        </div>
        <div class="item-description">
          {{repo.description}}
        </div>
      </a>
      <div class="item-footer">
        {% if repo.homepage %}
          <a class="item-action-button" href="{{repo.homepage}}">
            Go to App
          </a>
        {% endif %}
        <a class="item-action-button" href="{{repo.html_url}}">
          Source code
        </a>
      </div>
    </div>
  {%- endmacro %}

  <div class="{{ name }}-container">
    <div class="category">
      <h1 class="title">Projects</h1>
      {% for repo in popular_list %}
        {{ project_card(repo) }}
      {% endfor %}

      <a class="view-all-link" href="{{owner_url}}">
        View All <span class="view-all-icon">&#8250;</span>
      </a>
    </div>
  </div>
{% endblock %}
