<div class="main-header">
  <div class="header-wrapper">
    <div class="header-menu-button">
      <i class="material-icons menu-icon">menu</i>
    </div>
    <div>
      <a href="/"><h1 class="main-title">Ao.</h1></a>
    </div>
    <div>
      <ul class="main-header-nav">
        <li>
          <a class="nav-item {% if name == 'home' %} active{% endif %}" href="/">
            Home
          </a>
        </li>
        <li>
          <a class="nav-item {% if name == 'projects' %} active{% endif %}" href="/projects">
            Projects
          </a>
        </li>
        <li>
          <a class="nav-item {% if name == 'blog' %} active{% endif %}" href="//blog.abhiomkar.in">
            Blog
          </a>
        </li>
        <li>
          <a class="nav-item {% if name == 'photography' %} active{% endif %}" href="/photography">
            Photography
          </a>
        </li>
        <li>
          <a class="nav-item {% if name == 'about' %} active{% endif %}" href="/about">
            About
          </a>
        </li>
        <li>
          <a class="nav-item {% if name == 'contact' %} active{% endif %}" href="/contact">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

