@import "./color.css";
@import "./shadow.css";
@import "./transition.css";
@import "./media.css";

.main-header {
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0;
  max-width: 576px;
  margin: 0 auto;
  height: 75px;


  .header-menu-button {
    cursor: pointer;
    margin-right: 4px;
  }

  .main-title {
    display: inline-block;
    line-height: 100%;
    font-weight: 500;
    font-size: 32px;
    margin: 0;
    letter-spacing: -1px;
    color: var(--blackMediumDark);
    text-align: center;
    width: 100%;
    display: block;
    margin-right: 24px;
  }

  .main-header-nav {
    white-space: nowrap;
    display: none;
  }

  .nav-item {
    display: block;
    color: var(--blackAlpha90);
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    margin: 0 14px;
  }

  .nav-item.active {
    color: var(--blueSelected);
  }

  .nav-item-more {
    color: var(--blackAlpha80);
    margin: 0 8px 0 0;
    height: 24px;
    width: 24px;
  }

  .main-description {
    text-align: center;
    color: #aaa;
    width: 100%;
    display: block;
  }

  @media screen and (--Desktop) {
    margin-top: 12px;

    .header-menu-button {
      display: none;
    }

    .main-header-nav {
      display: block;
    }
  }
}
