@import "../common/shadow.css";
@import "../common/color.css";
@import "../common/media.css";
@import "../common/variable.css";

:root {
  --transitionSpeed: 0.24s;
}

.main-header {
  background: #fff;
  position: relative;
  color: var(--blackAlpha90);
  height: var(--headerHeight);

  .header-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 22px 0 8px 0;
    max-width: 576px;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
    z-index: 9999;
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
  }

  .menu {
    margin-right: 14px;
    cursor: pointer;
    margin: 0 16px;
  }

  .menu .line {
    margin: 4px 0;
    background: rgba(0, 0, 0, 0.64);
    height: 2px;
    width: 24px;
    border-radius: 2px;
    transform: none;
    opacity: 1;
    transition: all var(--transitionSpeed) ease-in-out;
  }

  .menu .line1-container, .menu .line3-container {
    transition: all var(--transitionSpeed) ease-in-out;
    transition-delay: var(--transitionSpeed);
  }

  .menu .line1-container {
    transform-origin: center;
  }

  .menu .line3-container {
    transform-origin: center;
  }

  /** is opening */

  .menu.is-open .line1 {
    transform: translateY(4px);
  }

  .menu.is-open .line1-container  {
    transform: rotate(45deg) scaleX(0.8) translateY(4px);
  }

  .menu.is-open .line2 {
    transform: scale(0.1);
    visibility: hidden;
    opacity: 0;
  }

  .menu.is-open .line3 {
    transform: translateY(-4px);
  }

  .menu.is-open .line3-container {
    transform: rotate(-45deg) scaleX(0.8) translateY(-5px);
  }


  /** is closing */
  .menu.is-close .line2 {
    transition-delay: var(--transitionSpeed);
  }

  .menu.is-close .line1-container, .menu.is-close .line3-container {
    transition-delay: 0s;
  }

  .header-menu-button {
    cursor: pointer;
    margin: 5px 10px 0 10px;
    background: transparent;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    width: 32px;
    height: 32px;

    &.is-active {
      color: var(--blueSelected);
    }
  }

  .main-title {
    display: inline-block;
    line-height: 100%;
    font-weight: 500;
    font-size: 32px;
    margin: 0;
    letter-spacing: -1px;
    width: 100%;
    display: block;
    margin: 10px 6px;
    color: var(--blackAlpha90);
  }

  .horizontal-nav {
    white-space: nowrap;
    display: none;

      .nav-item {
        color: var(--blackAlpha90);
        display: block;
        font-weight: 500;
        margin: 0 14px;
      }

      .nav-item.active {
        color: var(--blueSelected);
      }
  }

  .vertical-nav {
    position: absolute;
    width: 100%;
    top: var(--headerHeight);
    background: #fff;
    border-top: 1px solid #f1f1f1;
    box-shadow: var(--elevation_2dp);
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.24s ease-in-out;
    z-index: 999;

    .nav-item {
      color: var(--blackAlpha90);
      display: block;
      font-weight: 500;
      padding: 20px 12px;
      text-align: center;
      border-bottom: 1px solid #f1f1f1;
    }

    .nav-item.active {
      color: var(--blueSelected);
    }
  }

  .vertical-nav.is-visible {
    transform: none;
    visibility: visible;
  }

  @media screen and (--Desktop) {
    .menu {
      display: none;
    }

    .horizontal-nav {
      display: flex;
      margin-left: 20px;
    }
  }
}
