<!doctype html>
<html class="wf-loading">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/main.css">

  <title>Abhinay Omkar - {% block title %}{% endblock %}</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>

<div class="main-container">
  <div class="main-header">
    <div class="header-menu-button">
      <i class="material-icons menu-icon">menu</i>
    </div>
    <div>
      <h1 class="main-title">Ao.</h1>
    </div>
    <div>
      <ul class="main-header-nav">
        <li>
          <a class="nav-item {% if name == 'home' %} active{% endif %}" href="/">
            Home
          </a>
        </li>
        <li>
          <a class="nav-item {% if name == 'projects' %} active{% endif %}" href="/projects">
            Projects
          </a>
        </li>
        <li>
          <a class="nav-item {% if name == 'blog' %} active{% endif %}" href="//blog.abhiomkar.in">
            Blog
          </a>
        </li>
        <li>
          <a class="nav-item {% if name == 'photography' %} active{% endif %}" href="/photography">
            Photography
          </a>
        </li>
        <li>
          <a class="nav-item {% if name == 'about' %} active{% endif %}" href="/about">
            About
          </a>
        </li>
        <li>
          <a class="nav-item {% if name == 'contact' %} active{% endif %}" href="/contact">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="content">
      {% block content %}{% endblock %}
  </div>
</div>

<script src="./static/main.js"></script>
</body>
</html>
