{% import 'base/icon.html' as icon %}

<!doctype html>
<html class="wf-loading">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/main.css">

  <title>Abhinay Omkar - {% block title %}{% endblock %}</title>
</head>

<body>

<section class="main-container">
    <header class="main-header">
      <h1 class="main-title">Ao.</h1>
        <ul class="main-header-nav">
          <li><a class="nav-item active" href="/">Home</a></li>
          <li>
            <a class="nav-item" href="/projects">
              Projects
            </a>
          </li>
          <li>
            <a class="nav-item" href="/photography">
              Photography
            </a>
          </li>
          <li>
            <a class="nav-item" href="/contact">
              Contact
            </a>
          </li>
          <li>
            <a class="nav-item nav-item-more" href="#">
              {{ icon.render('moreVert') }}
            </a>
          </li>
        </ul>
    </header>
    <section id="content">
        {% block content %}{% endblock %}
    </section>
</section>

<script src="https://use.typekit.net/poo6aga.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

</body>
</html>
