.main-header {
  border-bottom: 1px solid var(--blackLighter);
  margin: 0;
  padding: 36px 0 15px 15px;

  .main-title {
    display: inline-block;
    line-height: 100%;
    font-weight: 600;
    font-size: 50px;
    margin: 0;
    letter-spacing: -1px;
    color: var(--blackMediumDark);
    text-align: center;
    width: 100%;
    display: block;
  }

  .main-header-nav {
    text-align: center;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    margin: 22px auto 0;
  }

  .main-header-nav li {
    vertical-align: middle;
  }

  .nav-item {
    display: block;
    color: var(--blackAlpha50);
    text-transform: uppercase;
    font-size: 11px;
    vertical-align: middle;
  }

  .nav-item.active {
    color: var(--blackAlpha90);
  }

  .nav-item-more {
    margin: 0 8px 0 0;
    height: 20px;
    width: 24px;
  }

  .main-description {
    text-align: center;
    color: #aaa;
    width: 100%;
    display: block;
  }

  @media screen and (--Phone) {

    .nav-item {
      font-size: 14px;
    }
  }

  @media screen and (--Phone560) {
    border-bottom: 0;
  }
}
