{% extends "base/base.html" %}
{% block body_classes %} is-dark {% endblock %}
{% block title %}{{ super() }}Photography{% endblock %}
{% block content %}
  {% macro gallery(photos) -%}
    {% for photo_url in photos.photo_urls %}
      <div class="photo-container">
        <img data-src="{{ photo_url }}" class="photo" />
      </div>
    {% endfor %}
  {%- endmacro %}

  <div class="{{ name }}-container">
    <div class="content-wrapper">
      <h1 class="title">Photography</h1>

      <!-- gallery navigation list -->
      <div class="category-nav">
        {% for gallery_photos in gallery_photo_list %}
        <a data-gallery-id="{{ gallery_photos.name | replace(' ', '-') | lower }}"
            class="category-link {% if loop.first %} is-selected{%- endif %}">{{ gallery_photos.name }}</a>
        {% endfor %}
      </div>

      <div class="gallery-list">
        {% for gallery_photos in gallery_photo_list %}
          <!-- photo gallery -->
          <div data-gallery-id="{{ gallery_photos.name | replace(' ', '-') | lower }}"
              class="gallery {% if loop.first %} is-visible{%- endif %}">
            {{ gallery(gallery_photos) }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
