{% extends "base/base.html" %}
{% block title %}{{ super() }}Photography{% endblock %}
{% block content %}
  {% macro gallery(photos) -%}
    {% for photo_url in photos.photo_urls %}
      <img data-src="{{ photo_url }}" class="photo" />
    {% endfor %}
  {%- endmacro %}

  <div class="{{ name }}-container">
    <h1 class="title">Photography</h1>

    <div class="category-nav">
      {% for gallery_photos in gallery_photo_list %}
        <a class="category-link {% if loop.first %} is-selected{%- endif %}">{{ gallery_photos.name }}</a>
      {% endfor %}
    </div>

    <div class="gallery-list">
      {% for gallery_photos in gallery_photo_list %}
        <div class="gallery-container">
          <i class="material-icons chevron-left photo-nav-arrow photo-nav-arrow-left">chevron_left</i>
          <div class="gallery {% if loop.first %} is-visible{%- endif %}">
            {{ gallery(gallery_photos) }}
          </div>
          <i class="material-icons chevron-right photo-nav-arrow photo-nav-arrow-right">chevron_right</i>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
