@import "../base/base.css";

.photography-container {
  margin: 0 auto;
  padding-bottom: 50px;
  background: #141414;
  color: #fff;

  .title {
    font-size: 24px;
    font-weight: 300;
    max-width: var(--contentWidth);
    margin: 0 auto;
    width: 100%;
    padding: 18px 0;
  }

  .category-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: var(--contentWidth);
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .category-link {
    color: rgba(255, 255, 255, 0.4);
    margin: 8px 12px 8px 0;
    cursor: pointer;
  }

  .category-link:hover, .category-link.is-selected {
    color: #fff;
  }

  .gallery-container {
    position: relative;
  }
  
  .photo-nav-arrow {
    position: absolute;
    top: 50%;
    margin-top: -21px;
    font-size: 42px;
    cursor: pointer;
  }

  .photo-nav-arrow-left {
    left: 8px;
  }

  .photo-nav-arrow-right {
    right: 8px;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto 22px auto;
    padding-left: 8px;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
  }

  .gallery.is-visible {
    visibility: visible;
    opacity: 1;
  }

  .photo {
    height: 380px;
    margin-right: 12px;
    box-shadow: var(--elevation_6dp);
    border-radius: 2px;
  }

  @media screen and (--Tablet) {
  }
}
